@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: #151d29;
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: 0 0 10px 0px #00000054;
    @apply md:w-1/3 w-1/2 p-3 max-w-sm flex flex-col items-center  m-2;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1e2124;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input {
  margin-bottom: 10px;
}
